.weekly-schedule-container {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.weekly-grid {
    display: grid;
    grid-template-columns: 100px repeat(7, 1fr); /* עמודה לשעות + 7 ימים */
    gap: 5px;
    align-items: start;
    position: relative;
}


.course-container {
    position: relative;
    height: 50px;
}.course-block-week {
    position: relative;
    background: #492799;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* קונטיינר שמכיל את שם הקורס והשעות */
.course-content {
    margin-bottom: 10px;
}

/* סידור הכפתורים */
.course-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    gap: 5px;
    z-index: 10; /* מבטיח שהכפתורים יהיו מעל כל שאר האלמנטים */
}

/* עיצוב כפתורים */
.course-buttons button {
    background: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.2s;
    z-index: 15;
}

.course-buttons button:hover {
    background: #eee;
}
